/* Write your code here. */
.mainlist {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 60px;
  width: 800px;
  border: 1px solid #d7dae6;
  border-radius: 10px;
  margin: 5px;
}
.list1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9aa5b1;
  padding: 10px;
}
