/* Write your code here. */
.main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f5f8;
  height: 100%;
}

.maincard {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
  font-family: roboto;
  background-color: #ffffff;
  border-radius: 10px;
}
.color {
  color: #cb8805;
}
.mainlist {
  display: flex;
  justify-content: center;
  flex-direction: column;

  min-height: 60px;
  width: 800px;
  border: 1px solid #d7dae6;
  border-radius: 10px;
}
.xtra {
  height: 250px;
}

hr {
  border: 1px solid #d7dae6;
  width: 770px;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  font-size: x-small;
  margin-bottom: 0px;
  margin-top: 50px;
}
.btn {
  background-color: transparent;

  border: none;
}
